@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .footer {
    padding: 2rem 3% 2rem;
  }
}

@media (max-width: 768px) {
  #menuBar {
    display: block;
    color: #fff;
    font-size: 2rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 1.5rem;
    margin: 3rem 0;
  }

  .contact {
    background: none;
    padding: 0;
    border-radius: 0px;
  }

  .homeContainer {
    flex-direction: column;
  }

  #home {
    flex-direction: column-reverse;
  }

  #about {
    flex-direction: column;
  }

  .img {
    width: 70vw;
    height: 300px;
    margin: 4rem 0;
  }

  .aboutImg img {
    width: 70vw;
    height: 300px;
  }

  .footerText p {
    font-size: 1.5rem;
  }
  
  .footerIconTop a i {
    font-size: 2rem;
  }

  .portfolioContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolioLayer h4 {
    font-size: 1.6rem;
  }
  
  .portfolioLayer p {
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
  }
}

@media (max-width: 500px) {
  .portfolioContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  html {
    font-size: 50%;
  }
  .contactContainer form .inputBox input {
    width: 100%;
  }
  .logo {
    font-size: 2.5rem;
  }
  .logo, .menuBar, .menuClose {
    margin-left: -3rem;
  }
}

@media (max-width: 375px) {
  .aboutImg img {
    width: 90%;
  }

  .footer {
    flex-direction: column-reverse;
  }
  
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}